<div style="padding: 15px;">
    <div>
        <div
            style="display: flex;justify-content: space-between;padding-bottom:10px;padding-top:10px;align-items: center;">
            <div style="color: black;">
                <h3>Manage User</h3>
            </div>
            <div class="searchboxcss">
                <div class="searchboxinner">
                    <input type="text" placeholder="Search" style="color: black !important;" class="inputcssbox" />
                    <i class="fa fa-search" style="font-size:15px;color: black;"></i>

                </div>
                <div class="addstatecss" (click)="addRow(recordadd)">
                    ADD
                    <!-- <i class="fa fa-plus" style="font-size:20px;color: white;"></i> -->

                </div>
            </div>
        </div>
    </div>
    <table class="table  table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #recordadd let-modal>
    <div>
        <!-- <div class="editRowModal">
       <div >
        <h2>Add User</h2>
       </div> 
       <div>
        <button type="button" mat-mini-fab class="close" aria-label="Close" (click)="modal.dismiss()">
        <mat-icon>close</mat-icon>
        </button>
       
       </div>
    </div> -->
        <div class="modal-header editRowModal">
            <div class="font-weight-bold font-17">
                <h3>Add User</h3>
            </div>

            <button type="button" mat-mini-fab class="close" aria-label="Close" (click)="modal.dismiss()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field style="width: 100%;color: black;" appearance="fill">
                            <mat-label style="color: black;">Name</mat-label>
                            <input matInput placeholder="Placeholder">
                          
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field style="width: 100%;color: black;" appearance="fill">
                            <mat-label style="color: black;">Email</mat-label>
                            <input matInput placeholder="Placeholder">
                          
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6" appearance="fill">
                        <mat-form-field style="width: 100%;color: black;" class="example-full-width"
                            placeholder="Status">
                            <mat-label style="color: black;">Role</mat-label>
                            <mat-select style="color: black;" name="food">
                                <mat-option value="Activate">Admin</mat-option>
                                <mat-option value="Deactivate">User</mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="userForm.get('Status')?.hasError('required')">Select
        Status</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</ng-template>