.searchboxcss {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .searchboxinner {
    border: 2px solid black;
    padding: 5px 8px;
    border-radius: 5px;
   
  }
  .inputcssbox:focus {
    outline: none;
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 200px;
  }

  .inputcssbox {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 200px;
    color:black;
  }

  .addstatecss {
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    background: #2a2b36;
    border: 1px solid white;
    cursor: pointer;
    font-size: 15px;
  }

  .editRowModal{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  /* ::ng-deep .mdc-text-field--filled{
    background-color: white !important;
    color: black;
  } */
  /* ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color:transparent !important;
    color: black !important; 
  } */

  ::ng-deep .mat-mdc-form-field{
    border-color:1px solid black !important;
    /* border-bottom-color: black !important; */
  
  }

  ::ng-deep .cdk-overlay-container {
    z-index: 9999;
    
    }

    ::ng-deep .mdc-notched-outline > * {
        border-color: black !important;
        color: black !important;
      }
      
      ::ng-deep .cdk-overlay-container {
      z-index: 9999;
      
      }
      
      ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color:white !important;
        /* border-bottom: 1px solid red; */
      }

      ::ng-deep.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        border-bottom-color:red !important;
     
      }
      
      ::ng-deep .mdc-text-field--filled .mdc-line-ripple::before {
        border-bottom-color:black !important;
    
    }
  
  